/**
 * Theme Name: Hsplus child
 * Template: hsplus
 * Description: Child theme for hsplus
 * Version: 1.0.0
 * Author: Envoo d.o.o.
 * Author URI: https://envoo.net/
 * Text Domain: vigoshop-child
 * Domain Path: /languages
 */
